My_workflow_2.json
{
  "updatedAt": "2026-05-06T04:22:23.416Z",
  "createdAt": "2026-05-05T09:17:31.165Z",
  "id": "q6tEyKYrJjWqf21V",
  "name": "My workflow 2",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "c7500640-e180-4a23-874e-7c5a0e5cb6e2",
      "name": "手动触发",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        -96
      ]
    },
    {
      "parameters": {
        "url": "https://www.chinadaily.com.cn/rss/china_rss.xml",
        "options": {}
      },
      "id": "c6bd054d-3ca2-451b-81e1-5227ca8069da",
      "name": "获取国际新闻",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [
        304,
        -96
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "=deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=你是一位资深的入境游内容官。请阅读以下新闻标题：{{ $json.title }}。请分析：1. 这条新闻是否适合作为我们运营素材？2. 简述理由。"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "9ee77673-fc79-4b2a-ab8e-c96a93f187c4",
      "name": "AI 逻辑过滤",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        528,
        -96
      ],
      "credentials": {
        "openAiApi": {
          "id": "IF33YtjAnUHDWOLY",
          "name": "OpenAI account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "357fed01-79aa-80af-be07-fa79f23e4ea7",
          "mode": "list",
          "cachedResultName": "新闻数据库",
          "cachedResultUrl": "https://www.notion.so/357fed0179aa80afbe07fa79f23e4ea7"
        },
        "title": "={{ $('获取国际新闻').item.json.title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "AI的分析|rich_text",
              "textContent": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        736,
        -96
      ],
      "id": "34baa54e-6d88-48e0-a74b-bcd7ffe953d3",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "zoKalUABLF0XX80k",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Role:\n你是一位常驻中国的资深旅行博主（如 Blondie in China 或 Mike Daily Vlog 的风格）。你的受众是那些想来中国旅行但有点担心文化差异或操作麻烦的外国游客。\n\nTask:\n根据我提供的【新闻/素材内容】，写一篇简洁、直接、有人情味的社交媒体帖子。\n\nNegative Constraints (严格禁止的“AI味”):\n\n禁止使用这些空洞词汇：stunning, nestled, vibrant, intricate, delve, unlock, realm, testament to, unparalleled, breathtaking.\n\n禁止陈词滥调的开头：不要说“In today’s world...”、“Are you ready to...”、“Experience the charm of...”。\n\n禁止说教：不要用“It is important to note”或者“Furthermore”。像跟朋友在咖啡馆聊天一样说话。\n\nStyle & Tone (语言风格):\n\n简单直白：使用初中水平的英语（8th-grade level），短句为主。\n\n事实说话：不要夸美，直接说有什么好玩的，或者解决了什么麻烦。\n\n第一人称：多用 \"I\", \"You\", \"Just\", \"Actually\"。\n\n真实感：如果有缺点或需要注意的地方，直接说出来（比如“It’s crowded, but worth it”），这能增加信任感。\n\nPost Structure (帖子结构):\n\nHook (第一句)：一句话说明为什么这条新闻对游客重要。\n\nBody (核心)：2-3个短段落，每段不超过2行。\n\nTips (实用建议)：用 Emoji 列表列出 1-2 个具体的“避坑”或“操作”指南（如支付宝怎么扫，哪站地铁下）。\n\nCTA (互动)：简单问个问题，不要太生硬。\n\nInput Content:\n{{ $json.property_ai }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1104,
        -96
      ],
      "id": "172bafb9-fcf8-44a7-be18-bea1bb44bebb",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "deepseek-v4-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        1104,
        112
      ],
      "id": "c791ed33-b81c-49fc-8d30-4d37008a3d9a",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "uPna6P3mUExbpSIp",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b675a53c-5e87-4632-89c1-71cbc1a6a28e",
              "leftValue": "={{ $json.property_ai }}",
              "rightValue": "不适合",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        944,
        -96
      ],
      "id": "b6a4ca5e-61d4-4945-8361-d15c56f3c2b2",
      "name": "Filter"
    },
    {
      "parameters": {
        "resource": "chat",
        "chatModel": "=deepseek-chat",
        "prompt": {
          "messages": [
            {
              "content": "=根据以下新闻内容，提取一个最适合在 Google 图片中搜索的英文关键词。只需输出这一个关键词，不要任何解释和标点。\n新闻内容：{{ $json.text }}"
            }
          ]
        },
        "options": {},
        "requestOptions": {}
      },
      "id": "b36a3630-c80e-4e1d-a99e-106dd5ffdb21",
      "name": "AI 逻辑过滤1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [
        1408,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "IF33YtjAnUHDWOLY",
          "name": "OpenAI account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "https://open.feishu.cn/open-apis/bot/v2/hook/54158191-1827-40c1-b03f-b5785e744ec8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"msg_type\": \"interactive\",\n  \"card\": {\n    \"header\": {\n      \"title\": {\n        \"tag\": \"plain_text\",\n        \"content\": \"✨ 发现新素材\"\n      },\n      \"template\": \"blue\"\n    },\n    \"elements\": [\n      {\n        \"tag\": \"div\",\n        \"text\": {\n          \"tag\": \"lark_md\",\n          \"content\": \"**建议文案：**\\\\n{{ JSON.stringify($('Basic LLM Chain').item.json.text).slice(1, -1) }}\"\n        }\n      },\n      {\n        \"tag\": \"hr\"\n      },\n      {\n        \"tag\": \"note\",\n        \"elements\": [\n          {\n            \"tag\": \"plain_text\",\n            \"content\": \"来自 U Travel 自动化助手\"\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2752,
        -64
      ],
      "id": "f1841571-ad5b-4f19-8950-13442e995d48",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 4
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1584,
        -80
      ],
      "id": "c5ef6cb5-0d93-42f1-8fe4-d990f31f6bd4",
      "name": "Wait",
      "webhookId": "81d11700-f175-4acd-8202-88c7316adc0d"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2368,
        -80
      ],
      "id": "ffcb3a5b-304d-4e93-9462-49216bf2c701",
      "name": "Loop Over Items",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2592,
        -64
      ],
      "id": "1e304d0e-732a-4831-9fb8-30a0809bde47",
      "name": "Wait1",
      "webhookId": "81d11700-f175-4acd-8202-88c7316adc0d"
    },
    {
      "parameters": {
        "url": "=https://i0.wp.com/{{ $('搜图节点').item.json.images[0].thumbnailUrl.replace('https://', '') }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "image"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2144,
        -80
      ],
      "id": "dc706847-9790-4f5c-ab6e-aeab29342c67",
      "name": "HTTP Request3",
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://google.serper.dev/images",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-KEY",
              "value": "f3a669817afac57c173b01f0748e92b9ae55ab4e"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{ $json.message.content }}"
            },
            {
              "name": "type",
              "value": "images"
            },
            {
              "name": "gl",
              "value": "us"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1760,
        -80
      ],
      "id": "b61e2f2b-fec4-4bca-9693-c9a4c66c7ffa",
      "name": "搜图节点"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "cli_a97005f6198bdbc1"
            },
            {
              "name": "app_secret",
              "value": "=YoJAaAcTkOXWv68Tb9OJEhoTxbaq2TLK"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1920,
        -80
      ],
      "id": "5ca31308-80c3-4a8c-b330-55615996ea8c",
      "name": "获取image_key节点"
    }
  ],
  "connections": {
    "手动触发": {
      "main": [
        [
          {
            "node": "获取国际新闻",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取国际新闻": {
      "main": [
        [
          {
            "node": "AI 逻辑过滤",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 逻辑过滤": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create a database page": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI 逻辑过滤1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "AI 逻辑过滤1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "搜图节点",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        []
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "搜图节点": {
      "main": [
        [
          {
            "node": "获取image_key节点",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "获取image_key节点": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "4f25fb95-8ee0-4770-922c-c4554ab21509",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-05T09:17:31.167Z",
      "createdAt": "2026-05-05T09:17:31.167Z",
      "role": "workflow:owner",
      "workflowId": "q6tEyKYrJjWqf21V",
      "projectId": "6vjKYrrR74IwDwX2"
    }
  ],
  "activeVersion": null,
  "tags": []
}