My_workflow.json
{
  "updatedAt": "2026-05-09T06:14:47.969Z",
  "createdAt": "2026-05-05T08:54:57.610Z",
  "id": "JaT71wKRyoO3UFli",
  "name": "My workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -400,
        -112
      ],
      "id": "4cf3c9be-51fb-44c7-872b-4a7ed79f48fa",
      "name": "手动触发"
    },
    {
      "parameters": {
        "url": "http://127.0.0.1:8787/reddit/travelchina.rss",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -192,
        -112
      ],
      "id": "9c005585-d55d-43ad-b1ee-7983d8dc404b",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "maxItems": 5
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        48,
        -112
      ],
      "id": "2d97c094-5fb2-46ff-886f-f2984d78a5bc",
      "name": "Limit"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b2380c63-a9f4-4dca-90e1-b69267099629",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        288,
        -112
      ],
      "id": "1788ca74-b38a-4c9d-96cd-ad96c33cbf58",
      "name": "Filter"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=你是成都入境游专家 Dan Koe。请阅读以下外国游客帖子内容：\n\n{{ $json.content }}\n\n首先判断内容是否可以用作入境游账号发帖提取核心痛点，并生成一个用于社交媒体的爆款英文标题（Hook）。\n\n请严格输出 JSON，格式如下，禁止输出多余文本、Markdown 或解释：\n\n{\n  \"Y/N\": \"string\",              // 分类：Y/N\n  \"category\": \"string\",              // 分类：支付/交通/医疗/签证/景点/其他\n  \"emotion\": \"string\",               // 情绪：求助/抱怨/分享/愤怒\n  \"pain_point_summary\": \"string\",    // 一句话总结用户痛点\n  \"hook\": \"string\"                   // 一个英文社交媒体标题\n}\n\n请直接以 { 开始，以 } 结束，不要包含任何前后缀及 markdown 格式，内容里不要额外嵌套output,严格按照上述格式输出。",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        768,
        -112
      ],
      "id": "af25529f-47ac-45c6-b044-f988a97cc674",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => ({\n  json: {\n    ...item.json,\n    content: item.json.content.replace(/<[^>]+>/g, \"\").replace(/&[#a-z0-9]+;/gi, \"\")\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        -112
      ],
      "id": "a2db74be-33e0-4f5a-ac49-5bf8ce6eef1d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "=deepseek-chat",
          "mode": "id"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        784,
        96
      ],
      "id": "e26fe3d1-e863-4dcb-808a-e912b0e89b4d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "IF33YtjAnUHDWOLY",
          "name": "OpenAI account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "357fed01-79aa-80af-be07-fa79f23e4ea7",
          "mode": "list",
          "cachedResultName": "痛点库",
          "cachedResultUrl": "https://www.notion.so/357fed0179aa80afbe07fa79f23e4ea7"
        },
        "simple": "=",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Reddit内容|title",
              "title": "={{ $('Code in JavaScript').item.json.content }}"
            },
            {
              "key": "分类|select",
              "selectValue": "={{ JSON.parse($json.text).category }}"
            },
            {
              "key": "情绪|select",
              "selectValue": "={{ JSON.parse($json.text).emotion }}"
            },
            {
              "key": "核心痛点|rich_text",
              "textContent": "={{ JSON.parse($json.text).pain_point_summary }}"
            },
            {
              "key": "爆款Hook|rich_text",
              "textContent": "={{ JSON.parse($json.text).hook }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1152,
        -112
      ],
      "id": "1422e480-9012-4e4d-bb5a-30c4bc004abd",
      "name": "Create a database page",
      "credentials": {
        "notionApi": {
          "id": "zoKalUABLF0XX80k",
          "name": "Notion account"
        }
      }
    }
  ],
  "connections": {
    "手动触发": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Create a database page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "d5cc1f97-6ea8-42bc-b6b2-058c791d7638",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-05-05T08:54:57.612Z",
      "createdAt": "2026-05-05T08:54:57.612Z",
      "role": "workflow:owner",
      "workflowId": "JaT71wKRyoO3UFli",
      "projectId": "6vjKYrrR74IwDwX2"
    }
  ],
  "activeVersion": null,
  "tags": []
}